{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Activities</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">MyActivities</h1>
        <p class="lead">Hello! This is my Activities!</p>
        <hr class="my-4">
        <p>If you want to add new activity and see the ativities click the button below!</p>
        <a class="btn btn-primary btn-lg" href="/story6/add" role="button">Add new Activity!</a>
        <a class="btn btn-primary btn-lg" href="/story6/list" role="button">See my Activities!</a>
    </div>
</div>

{% endblock content %}