{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}
<div class="container">
{% for x in kegiatan %}
  <div class="col-4 m-4 p-4">
    <ul class="list-group">
      <li class="list-group-item"><b>{{ x.n_kegiatan }}</b></li>

      {% for y in orang %}
      {% if y.kegiatan == x %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          {{ y.nama_orang }}
            <a href="{% url 'story6:delete' id_post=y.pk %}" class="btn btn-light"><button>Delete</button></a>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <a href="{% url 'story6:regist' id_post=x.pk %}" ><button>Register!</button></a>
  </div>
  {% endfor %}
</div>
{% endblock content %}