{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Education</title>
{% endblock meta %}

{% block content %}
    <!--EDUCATION-->
    <h3 class="mt-5 text-center edu" id="edu">EDUCATION</h3>
    <hr>
    <div class="container text-center" id="edu">
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col"><h4>No.</h4></th>
            <th scope="col"><h4>Education</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>SDN Jatinegara Kaum 01 Pagi (2007-2013)</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>SMPN 255 Jakarta (2013-2016)</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>SMAN 21 Jakarta (2016-2019)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/smp.jpg' %}" class="d-block w-100" alt="smp">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/sma.jpg' %}" class="d-block w-100" alt="sma">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/kuliah.jpg' %}" class="d-block w-100" alt="kuliah">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
{% endblock content %}