{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tsanaa's Web</title>
{% endblock meta %}

{% block content %} 
<!--Bootstrap Navbar-->
<!-- <header class="header fixed-top">
  <nav class="navbar navbar-expand-lg sticky-top navbar-light">
      <div class="container">
      <a class="navbar-brand " href="#home"><strong>TSANAA</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <a class="nav-link" href="#about">ABOUT</a>
              <a class="nav-link" href="#skill">SKILLS</a>
              <a class="nav-link" href="#experience">EXPERIENCE</a>
              <a class="nav-link" href="#contact">CONTACT</a>
              <a class="nav-link" href="{% url 'main:profil' %}">PROFILE</a>
              <a class="nav-link" href="{% url 'main:edu' %}">EDUCATION</a>
          </div>
      </div>
      </div>
  </nav>
</header> -->

  <!--HOME-->
    <div class="container-home" id="home">
      <img src="{% static 'img/home.jpg' %}" class="img-fluid" alt="Responsive image">
      <div class="centered">WELCOME</div>
    </div>

    <!--ABOUT-->
    <div class="container" id="about">
      <div class="row">
        <div class="col-md-6 content mt-5">
          <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 text-center content-text mt-5">
          <h4>My name is Tsanaa Patricia Khonsaa. You can call me Tsanaa. I am 20 years old. I am currently studying at the University of Indonesia majoring in Information System class of 2019.</h4>
          <h4 class="mb-0">I'm interested in digital marketing, user experience, and product management.  I increase my knowledge about these things through seminars and find out for myself.</h4>
        </div>
      </div>
    </div>

    <!--SKILLS-->
    <h3 class="mt-5 text-center skill" id="skill">SKILLS</h3>
    <hr>
      <div class="container" id="skill">
        <div class="row text-center mt-5">
          <div class="col-md-4">
            <img src="{% static 'img/digitalmarketing.png' %}" alt="dgm">
            <h4>Digital Marketing</h4>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/coding.png' %}" alt="coding">
            <h4>Basic Programming</h4>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/language.png' %}" alt="language">
            <h4>Language (Indonesia and English)</h4>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/fastresponses.png' %}" alt="fastrep">
            <h4>Fast Response</h4>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/discipline.png' %}" alt="discipline">
            <h4>Discipline</h4>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/conversation.png' %}" alt="comm">
            <h4>Communication</h4>
          </div>
        </div>
      </div>

    <!--EXPERIENCE-->
    <h3 class="mt-5 text-center exp" id="experience">EXPERIENCE</h3>
    <hr>
        <br>
        <blockquote class="blockquote text-center" id="experience">
          <p class="mb-0">Staff of Public Relations at Syukuran dan Pelepasan Wisudawan Fasilkom UI</p>
          <footer class="blockquote-footer">September 2020 until Now</footer>
          <br>
          <p class="mb-0">Staff of Dana Konsumsi at Open House Fasilkom UI</p>
          <footer class="blockquote-footer">September 2020 until Now</footer>
          <br>
          <p class="mb-0">Staff of Digital Marketing at COMPFEST</p>
          <footer class="blockquote-footer">February 2020 until Now</footer>
          <br>
          <p class="mb-0">Staff of Public Relations at Syukuran dan Pelepasan Wisudawan Fasilkom UI</p>
          <footer class="blockquote-footer">December 2019 until January 2020</footer>
          <br>
        </blockquote>

    <!--CONTACT-->
    <h3 class="mt-5 text-center contact" id="contact">CONTACT</h3>
    <hr>
    <div class="container" id="contact">
      <div class="row text-center mt-5">
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/tsanaa-patricia-5a85761a2/"><img src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
        </div>
        <div class="col-md-4">
          <a href="mailto:patriciakhonsaa@gmail.com"><img src="{% static 'img/email.png' %}" alt="email"></a>
        </div>
        <div class="col-md-4">
          <a href="https://www.instagram.com/tsanaapk/?hl=id"><img src="{% static 'img/instagram.png' %}" alt="ig"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
