{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title> 
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fanwood Text' rel='stylesheet'>
    <style>
        body {
          background-color:white;
          font-family: 'Fanwood Text';
          font-size: 22px;
          color:black;
        }

        .fotoumum{
            display: flex;
            justify-content: center;
        }

        .fotoumum img{
            display: flex; 
            justify-content: center;
            height: 15%; width: 20%;
        }

        .socialmedia{
            margin-left: 190px; margin-right: auto;
        }

        table, th, td {
            display: flex;
            justify-content: center;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        h1 {
          color:black;
          text-align:center;
          font-family: 'Bungee Shade';
          font-size: 25px;
          margin-top:3%;
          margin-bottom: 5%;
        }
        
        p {
            color:black;
            text-align: center;
            font-family: 'Fanwood Text';
            font-size: 22px;
        }
        #header{
            background: #70DECA; 
            height: 150px; width: 500px; margin:auto;
        }
        #wrap {
            background: #70DECA; 
            height: 680px; width: 500px; margin: auto;
        }
    </style>

</head>

<body>
    <br><br>
    <h1>THIS IS ME</h1>
    <div class="fotoumum">
        <img src = "https://i.postimg.cc/ZKm3Ccss/JP50.jpg" />
    </div>
    

   
    <div id="header">
        <p>Hello! My name is Tsanaa Patricia Khonsaa. I am usually called Tsanaa. I was born in Banyuwangi on 25 September 2000. I am an only child. I am a humorous and cheerful person. I am currently studying at Fasilkom UI majoring in Information Systems. Below is my short bio.</p>
    </div>

    <div id="wrap">
        <h1>MY SHORT BIO</h1>
        <p>Name: Tsanaa Patricia Khonsaa</p>
        <p>Student number: 1906353914</p>
        <p>Class of: 2019</p>
        <p>Hobby: watch movies, drama, and series</p>

        <h1>EDUCATIONAL BACKGROUND </h1>
        <table style="width:100%">
            <tr>
                <th align="center">Education</th>
            </tr>
            <tr>
                <td align="center">SDN Jatinegara Kaum 01 Pagi (2007-2013) </td>
            </tr>
            <tr>
                <td align="center">SMPN 255 Jakarta (2013-2016) </td>
            </tr>
            <tr>
                <td align="center">SMAN 21 Jakarta (2016-2019)</td>
            </tr>
        </table>

        <p>Click the icon below, to view my social media accounts! </p>
        <div class="socialmedia">
            <a href="https://www.instagram.com/tsanaapk/?hl=id"><img src="{% static 'img/insta.png'%}" height="50" width="50" /></a>
            <a href="https://www.linkedin.com/in/tsanaa-patricia-5a85761a2/"><img src="{% static 'img/linked.png'%}" height="50" width="50"/></a>
        </div>
    </div>

</body>
{% endblock content %}
</html>
