{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <h1>{{page_title}}</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{post_form.as_table}}
        </table>
        <button type = "Submit">Add</button>
    </form>
</div>
{% endblock content %}