{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}
<h3 class="mt-5 text-center edu">DETAILS</h3>
<hr>
<div class="container">
  <table class="table">
    <tr>
      <td>Mata Kuliah : </td>
      <td>{{post.mata_kuliah}}</td>
    </tr>
    <tr>
      <td>Nama Dosen : </td>
      <td>{{post.dosen}}</td>
    </tr>
    <tr>
      <td>Jumlah SKS : </td>
      <td>{{post.jumlah_sks}}</td>
    </tr>
    <tr>
      <td>Deskripsi : </td>
      <td>{{post.deskripsi_matkul}}</td>
    </tr>
    <tr>
      <td>Semester : </td>
      <td>{{post.semester}}</td>
    </tr>
    <tr>
      <td>Ruang Kelas : </td>
      <td>{{post.ruang_kelas}}</td>
    </tr>
</table> 
</div>
{% endblock content %}