{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Courses</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">MyCourses</h1>
        <p class="lead">Hello! This is my University Courses!</p>
        <hr class="my-4">
        <p>If you want to add new subject and see the subject click the button below!</p>
        <a class="btn btn-primary btn-lg" href="/form/create" role="button">Add new Courses!</a>
        <a class="btn btn-primary btn-lg" href="/form/index" role="button">See my Courses!</a>
    </div>
</div>

{% endblock content %}