{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
    {{page_title}}
{% endblock page_title %}
{% endblock meta %}


{% block content %}
<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Nama Dosen</th>
            <th scope="col">Jumlah SKS</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Semester</th>
            <th scope="col">Ruang Kelas</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts %}
          <tr>
            <td><a href="{% url 'form:detail' post.id %}">{{post.mata_kuliah}}</a></td>
            <td>{{post.dosen}}</td>
            <td>{{post.jumlah_sks}}</td>
            <td>{{post.deskripsi_matkul}}</td>
            <td>{{post.semester}}</td>
            <td>{{post.ruang_kelas}}</td>
            <td>
              <a href="{% url 'form:delete' post.id %}" class="btn btn-light">Delete</a>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock content %}